# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import pandas_datareader as pdr

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [2]:
date_range = pd.date_range(start='1/1/2015', end=dt.date.today())
len(date_range)

2147

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [7]:
df_apple = pdr.av.time_series.AVTimeSeriesReader(symbols='AAPL', start=date_range[0],end=date_range[-1],api_key='XVI92QWK6G47WZ0I')
df_apple.read()

              open      high      low   close     volume
2015-01-02  111.39  111.4400  107.350  109.33   53204626
2015-01-05  108.29  108.6500  105.410  106.25   64285491
2015-01-06  106.54  107.4300  104.630  106.26   65797116
2015-01-07  107.20  108.2000  106.695  107.75   40105934
2015-01-08  109.23  112.1500  108.700  111.89   59364547
...            ...       ...      ...     ...        ...
2020-11-10  115.55  117.5900  114.130  115.97  138023390
2020-11-11  117.19  119.6300  116.440  119.49  112294954
2020-11-12  119.62  120.5300  118.570  119.21  103350674
2020-11-13  119.44  119.6717  117.870  119.26   81688586
2020-11-16  118.92  120.9900  118.146  120.30   89980305

[1480 rows x 5 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [14]:
df_apple= pd.DataFrame(data=df_apple.read())
df_apple.head()

              open    high      low   close    volume
2015-01-02  111.39  111.44  107.350  109.33  53204626
2015-01-05  108.29  108.65  105.410  106.25  64285491
2015-01-06  106.54  107.43  104.630  106.26  65797116
2015-01-07  107.20  108.20  106.695  107.75  40105934
2015-01-08  109.23  112.15  108.700  111.89  59364547

In [16]:
df_apple['stock'] = 'AAPL'
df_apple.head()

              open    high      low   close    volume stock
2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [17]:
df_tesla = pdr.av.time_series.AVTimeSeriesReader(symbols='TSLA', start=date_range[0],end=date_range[-1],api_key='XVI92QWK6G47WZ0I')
df_tesla = pd.DataFrame(data=df_tesla.read())

In [18]:
df_ibm = pdr.av.time_series.AVTimeSeriesReader(symbols='IBM', start=date_range[0],end=date_range[-1],api_key='XVI92QWK6G47WZ0I')
df_ibm = pd.DataFrame(data=df_ibm.read())

In [19]:
df_microsoft = pdr.av.time_series.AVTimeSeriesReader(symbols='MSFT', start=date_range[0],end=date_range[-1],api_key='XVI92QWK6G47WZ0I')
df_microsoft = pd.DataFrame(data=df_microsoft.read())

In [20]:
df_tesla['stock'] = 'TSLA'
df_ibm['stock'] = 'IBM'
df_microsoft['stock'] = 'MSFT'

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [25]:
df = pd.concat([df_apple,df_tesla,df_ibm,df_microsoft])
df

              open    high      low   close    volume stock
2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL
...            ...     ...      ...     ...       ...   ...
2020-11-10  214.50  216.50  209.720  211.01  44045120  MSFT
2020-11-11  212.39  218.04  212.200  216.55  29440788  MSFT
2020-11-12  217.21  219.11  214.460  215.44  21616115  MSFT
2020-11-13  216.36  217.42  214.160  216.51  18630307  MSFT
2020-11-16  214.87  217.74  214.520  217.23  24469712  MSFT

[5920 rows x 6 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [38]:
df.index.array

<PandasArray>
['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
 '2015-01-09', '2015-01-12', '2015-01-13', '2015-01-14', '2015-01-15',
 ...
 '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-09',
 '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-16']
Length: 5920, dtype: object

In [37]:
df.index.shape

(5920,)

In [35]:
df['stock'].values

array(['AAPL', 'AAPL', 'AAPL', ..., 'MSFT', 'MSFT', 'MSFT'], dtype=object)

In [36]:
df['stock'].values.shape

(5920,)

In [41]:
df

              open    high      low   close    volume stock
2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL
...            ...     ...      ...     ...       ...   ...
2020-11-10  214.50  216.50  209.720  211.01  44045120  MSFT
2020-11-11  212.39  218.04  212.200  216.55  29440788  MSFT
2020-11-12  217.21  219.11  214.460  215.44  21616115  MSFT
2020-11-13  216.36  217.42  214.160  216.51  18630307  MSFT
2020-11-16  214.87  217.74  214.520  217.23  24469712  MSFT

[5920 rows x 6 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

### Step 9. Find all the volume traded in the year of 2015