# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import pandas_datareader as pdr

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [2]:
date_range = pd.date_range(freq='D', start='1/1/2015', end=dt.date.today())
len(date_range)

2161

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [3]:
df_apple = pdr.av.time_series.AVTimeSeriesReader(symbols='AAPL', start=date_range[0],end=date_range[-1],api_key='XVI92QWK6G47WZ0I')
df_apple.read()

              open      high      low   close     volume
2015-01-02  111.39  111.4400  107.350  109.33   53204626
2015-01-05  108.29  108.6500  105.410  106.25   64285491
2015-01-06  106.54  107.4300  104.630  106.26   65797116
2015-01-07  107.20  108.2000  106.695  107.75   40105934
2015-01-08  109.23  112.1500  108.700  111.89   59364547
...            ...       ...      ...     ...        ...
2020-11-23  117.18  117.6202  113.750  113.85  127959318
2020-11-24  113.91  115.8500  112.590  115.17  113226248
2020-11-25  115.55  116.7500  115.170  116.03   76499234
2020-11-27  116.57  117.4900  116.220  116.59   46691331
2020-11-30  116.97  120.9700  116.810  119.05  167198893

[1489 rows x 5 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [4]:
df_apple= pd.DataFrame(data=df_apple.read())
df_apple.head()

              open    high      low   close    volume
2015-01-02  111.39  111.44  107.350  109.33  53204626
2015-01-05  108.29  108.65  105.410  106.25  64285491
2015-01-06  106.54  107.43  104.630  106.26  65797116
2015-01-07  107.20  108.20  106.695  107.75  40105934
2015-01-08  109.23  112.15  108.700  111.89  59364547

In [5]:
df_apple['stock'] = 'AAPL'
df_apple.head()

              open    high      low   close    volume stock
2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [6]:
df_tesla = pdr.av.time_series.AVTimeSeriesReader(symbols='TSLA', start=date_range[0],end=date_range[-1],api_key='XVI92QWK6G47WZ0I')
df_tesla = pd.DataFrame(data=df_tesla.read())

In [7]:
df_ibm = pdr.av.time_series.AVTimeSeriesReader(symbols='IBM', start=date_range[0],end=date_range[-1],api_key='XVI92QWK6G47WZ0I')
df_ibm = pd.DataFrame(data=df_ibm.read())

In [8]:
df_microsoft = pdr.av.time_series.AVTimeSeriesReader(symbols='MSFT', start=date_range[0],end=date_range[-1],api_key='XVI92QWK6G47WZ0I')
df_microsoft = pd.DataFrame(data=df_microsoft.read())

In [9]:
df_tesla['stock'] = 'TSLA'
df_ibm['stock'] = 'IBM'
df_microsoft['stock'] = 'MSFT'

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [10]:
df = pd.concat([df_apple,df_tesla,df_ibm,df_microsoft])
df

              open    high      low   close    volume stock
2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL
...            ...     ...      ...     ...       ...   ...
2020-11-23  210.95  212.29  208.160  210.11  25683507  MSFT
2020-11-24  209.59  214.25  208.860  213.86  33830438  MSFT
2020-11-25  215.11  215.29  212.460  213.87  21012887  MSFT
2020-11-27  214.85  216.27  214.040  215.23  14512213  MSFT
2020-11-30  214.10  214.76  210.835  214.07  32696815  MSFT

[5956 rows x 6 columns]

In [11]:
df.index.dtype

dtype('O')

In [12]:
df.index=pd.DatetimeIndex(df.index)
df.index.dtype

dtype('<M8[ns]')

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [13]:
df.set_index([df.index,df['stock']],inplace=True)
df.drop('stock',axis=1,inplace=True)
df

                    open    high      low   close    volume
           stock
2015-01-02 AAPL   111.39  111.44  107.350  109.33  53204626
2015-01-05 AAPL   108.29  108.65  105.410  106.25  64285491
2015-01-06 AAPL   106.54  107.43  104.630  106.26  65797116
2015-01-07 AAPL   107.20  108.20  106.695  107.75  40105934
2015-01-08 AAPL   109.23  112.15  108.700  111.89  59364547
...                  ...     ...      ...     ...       ...
2020-11-23 MSFT   210.95  212.29  208.160  210.11  25683507
2020-11-24 MSFT   209.59  214.25  208.860  213.86  33830438
2020-11-25 MSFT   215.11  215.29  212.460  213.87  21012887
2020-11-27 MSFT   214.85  216.27  214.040  215.23  14512213
2020-11-30 MSFT   214.10  214.76  210.835  214.07  32696815

[5956 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [25]:
vol = pd.DataFrame(df['volume'])
vol

                    volume
           stock
2015-01-02 AAPL   53204626
2015-01-05 AAPL   64285491
2015-01-06 AAPL   65797116
2015-01-07 AAPL   40105934
2015-01-08 AAPL   59364547
...                    ...
2020-11-23 MSFT   25683507
2020-11-24 MSFT   33830438
2020-11-25 MSFT   21012887
2020-11-27 MSFT   14512213
2020-11-30 MSFT   32696815

[5956 rows x 1 columns]

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [26]:
vol=vol.droplevel('stock').resample('W').sum()
vol

               volume
2015-01-04   91408262
2015-01-11  488527205
2015-01-18  515385976
2015-01-25  383535971
2015-02-01  952276986
...               ...
2020-11-08  942653486
2020-11-15  900334841
2020-11-22  798566588
2020-11-29  667643639
2020-12-06  265644210

[310 rows x 1 columns]

### Step 9. Find all the volume traded in the year of 2015

In [28]:
vol['2015'].sum()

volume    24066904119
dtype: int64