# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t', index_col = 'order_id')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
3,1,Side of Chips,NaN,$1.69
4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
chipo.shape[0]

4622

In [6]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

4

### Step 7. Print the name of all the columns.

In [8]:
chipo.columns

Index(['quantity', 'item_name', 'choice_description', 'item_price'], dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

Int64Index([   1,    1,    1,    1,    2,    3,    3,    4,    4,    5,
            ...
            1831, 1831, 1831, 1832, 1832, 1833, 1833, 1834, 1834, 1834],
           dtype='int64', name='order_id', length=4622)

### Step 9. Which was the most-ordered item?

In [10]:
chipo['item_name'].value_counts().index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
chipo['item_name'].value_counts()[0]

726

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
chipo['choice_description'].value_counts().index[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [22]:
chipo['item_name'].isnull().sum()

0

In [23]:
chipo['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Name: item_name, dtype: int64

In [25]:
items=[]
for rows in chipo['item_name']:
        if 'and' in rows:
            items.append(rows.split('and'))
        else:
            items.append(rows)
len(items)

4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
chipo['item_price']=chipo['item_price'].apply(lambda x: x.replace('$','').strip()).astype('float')
chipo['item_price']

order_id
1        2.39
1        3.39
1        3.39
1        2.39
2       16.98
        ...
1833    11.75
1833    11.75
1834    11.25
1834     8.75
1834     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [16]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
chipo['item_price'].agg('sum')

34500.16

### Step 15. How many orders were made in the period?

In [18]:
chipo.index[-1]

1834

### Step 16. What is the average revenue amount per order?

In [19]:
# Solution 1
rev = chipo['item_price'].sum()
orders = chipo.index[-1]
rev/orders

18.811428571428575

In [20]:
# Solution 2
grouped = chipo.groupby('order_id').agg({'item_price':'sum'})
grouped.mean()

item_price    18.811429
dtype: float64

### Step 17. How many different items are sold?

In [21]:
chipo['item_name'].nunique()

50